@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
	font-family: 'Manrope', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.customer_tb tr td {
	padding: 8 0px;
}
.page-item_ .page-link {
	border-radius: 50%;
	line-height: 10px;
	height: 30px;
	width: 30px;
	font-weight: 500;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2px;
	background: #9e9e9e;
	border-color: #9e9e9e;
}

.page-item_ .page-link.active {
	border-color: #0d6efd;
	background: white;
	color: #0d6efd;
}